/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #00467b;
  /* Adjust color as needed */
  color: white;
}

.navbar-logo h2 {
  margin: 0;
  color: aliceblue;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}